<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>header</title>

	<!-- ============= jQuery CDN link =================== -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

	<!-- ============== Data Table CDN link ============= -->
	<link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" />

	<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>


	<!-- ============== Bootstrap5 CDN Link [Following two links] ============= -->
	<!-- Latest compiled and minified CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

	<!-- Latest compiled JavaScript -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

</head>

<body>

	<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
		<div class="container-fluid">
			<a class="navbar-brand" href="javascript:void(0)">EMS</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="mynavbar">
				<ul class="navbar-nav me-auto">
					<li class="nav-item">
						<a class="nav-link" href="/department">AddDepartment</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/deptList">DepartmentList</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/employee">AddEmployee</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/empList">EmployeeList</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/gallery">Gallery</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/upload">Upload</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/contact">Contact</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/profile">Profile</a>
					</li>
				</ul>
				<form class="d-flex">

					<!-- <p style="color: yellow;" class="m-2"> Welcome: [[${uname}]]</p> -->
					<!-- <p style="color: yellow;"> Welcome: [[${uname}]]</p> &nbsp; &nbsp; -->

					<p style="color: yellow;" class="m-2"> Welcome: [[${session.validUser.fname}]]</p>

					<a href="/logout"> <button class="btn btn-danger" type="button">Logout</button> </a>
				</form>
			</div>
		</div>
	</nav>

</body>

</html>