<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>profile</title>
</head>

<body>

	<th:block th:insert="Header.html"></th:block>

	<div class="container-fluid">

		<div class="card">

			<!-- ========== card-header =============== -->
			<div class="card-header text-center bg-primary text-white"><h5>User Profile</h5></div>

			<!-- ========== card-body =============== -->
			<div class="card-body">
				
				<div class="row p-2">
					<div class="col-4">User Id</div>
					<div class="col-4">
						[[${session.validUser.id}]]
					</div>
				</div>
				
				<div class="row p-2">
					<div class="col-4">First Name</div>
					<div class="col-4">
						[[${session.validUser.fname}]]
					</div>
				</div>
				
				<div class="row p-2">
					<div class="col-4">Last Name</div>
					<div class="col-4">
						[[${session.validUser.lname}]]
					</div>
				</div>
				
				<div class="row p-2">
					<div class="col-4">User Name</div>
					<div class="col-4">
						[[${session.validUser.userName}]]
					</div>
				</div>
				
				<div class="row p-2">
					<div class="col-4">Email</div>
					<div class="col-4">
						[[${session.validUser.email}]]
					</div>
				</div>
				
			</div>

			<!-- ========== card-footer =============== -->
			<div class="card-footer text-center bg-warning text-white">copyright@2023</div>

		</div>

	</div>

</body>

</html>